@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap rel=stylesheet");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppons', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url( https://png.pngtree.com/background/20250523/original/pngtree-a-vintage-world-map-background-with-an-aged-texture-and-geometric-picture-image_16523633.jpg);
    border-radius: 20px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9d5b5;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.title {
    color:#4F3325
}

.login-button {
    position: absolute;
top: 280px;
right: 460px;
z-index: 1;
}

.login-button button {
    border: none;
    background-color: #E8A951;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.login-button button:hover {
    background-color: #FA812F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-button button a {
    text-decoration: none;
    font-weight: 600;
    color: #FEF3E2;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #E8A951;
    margin: 0 auto;
    position: absolute;
    border-radius: 20px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #E9D5B5;
    
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #4F3325;
}

.input-box input::placeholder {
    color: #4F3325;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #4F3325;
}



.continue-button button {
    width: 60%;
    margin-top: 10%;
    border: none;
    background-color: #E8A951;
    padding: 0.62rem;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.continue-button button:hover {
    background-color: #FA812F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 600;
    color: #FEF3E2;
}



@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}