@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap rel=stylesheet");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppons", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./img/mapaFundo.jpg");
  background-position: center;
}

.container {
  width: 500px;
  height: 400px;
  background-color: #e9d5b5;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  padding: 20px;
  text-align: center;
  color: #4f3325;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: #f4e9d8;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  color: #4f3325;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #4f3325;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.remember-forgot a {
  text-decoration: none;
  color: #4f3325;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 50px;
  background-color: #e8a951;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fef3e2;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login:hover {
  background-color: #fa812f;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fef3e2;
  transition: 0.5s;
}

.register-link {
  font-size: 16px;
  text-align: center;
  margin: 0px 0 15px;
}

.register-link a {
  text-decoration: none;
  color: #4f3325;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
